<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">ASAPP Chat</a>
    </div>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#!chat_room">Chat Rooms</a></li>
        <li class="active"><a href="#!my_room">My Rooms</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><span ng-bind="currentUser.name"></span></a></li>
        <li><a href="#" ng-click="logoff()"><span class="glyphicon glyphicon-log-out"></span> Logoff</a></li>
      </ul>
    </div>
  </div>
</nav>
<style>

</style>
<div class="container" style="height:100%">
    <div class="row"  style="height:100%">
        <div class="col-md-3 room-list">
            <div class="list-group">
              <a ng-click="selectRoom(room)" class="list-group-item" ng-class="{active:room.selected}" ng-repeat="room in chatRooms | orderBy:'name'">
                <span class="badge" ng-show="room.unread" ng-bind="room.unread"></span>
                <span ng-bind="room.name"></span>
              </a>
            </div>
        </div>
        <div class="col-md-9 chat-room">
            <div ng-show="showError" class="alert alert-danger" role="alert"><span ng-bind="showError"></span></div>
            <div class="chat_window" ng-show="currentRoom">
                <div class="top_menu">
                    <div class="title">
                      <span ng-bind="currentRoom.name"></span>
                    </div>
                </div>
                <ul class="messages">
                    <li class="message" ng-class="{left:!message.sentByMe,right:message.sentByMe}" ng-repeat="message in chatMessages  |orderBy: 'timestamp'" scroll-to-end>
                        <div class="avatar">
                        </div>
                        <div class="sender">
                          <span class="username" ng-bind="message.author"></span>
                          <span class="sent_time" ng-bind="message.timestamp | date:'MM/dd/yyyy h:mma'"></span>
                        </div>
                        <div class="text_wrapper">
                            <div class="text">
                                <span ng-bind="message.message"></span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <input class="message_input" ng-keyup="$event.keyCode == 13 ? sendMessage() : null" placeholder="Type your message here..." ng-model="newMessage" />
                    </div>
                <div class="send_message">
                    <div class="icon">
                    </div>
                    <div class="text" ng-click="sendMessage()">
                      Send
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>